# git config --local --add include.path ../.gitconfig
[alias]
	co = checkout
	root = rev-parse --show-toplevel
	st = status
	tree = log --graph --oneline --all
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
	undo = reset --soft HEAD~1    